@font-face {
    font-family: "iconfont"; /* Project id 4491501 */
    src: url('../fonts/iconfont.woff2?t=1745115081979') format('woff2'),
         url('../fonts/iconfont.woff?t=1745115081979') format('woff'),
         url('../fonts/iconfont.ttf?t=1745115081979') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-readersearch1:before {
    content: "\e60e";
  }
  
  .icon-readershelf:before {
    content: "\e60c";
  }
  
  .icon-readerxiangyoujiantou:before {
    content: "\e65f";
  }
  
  .icon-readerjiantou:before {
    content: "\e663";
  }
  
  .icon-readermore:before {
    content: "\e6ad";
  }
  
  .icon-readersearch:before {
    content: "\e627";
  }
  
  .icon-readershuxian:before {
    content: "\e60a";
  }
  
  .icon-readerfenlei1:before {
    content: "\e601";
  }
  
  .icon-readergouwuchekong:before {
    content: "\e600";
  }
  
  .icon-readergouwuche:before {
    content: "\e63f";
  }
  
  .icon-readershouye:before {
    content: "\e70e";
  }
  
  .icon-readerfenlei:before {
    content: "\e811";
  }
  
  .icon-readerwode1:before {
    content: "\e637";
  }
  
  .icon-readerhoutui:before {
    content: "\e710";
  }
  
  .icon-readergengduo:before {
    content: "\e657";
  }
  
  .icon-readershujia:before {
    content: "\e620";
  }
  
  .icon-readershequ:before {
    content: "\e632";
  }
  
  .icon-readerwode:before {
    content: "\e602";
  }
  
  .icon-readerfuli:before {
    content: "\e6c4";
  }
  
  